<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Settings Uni Saar App</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Campus</string>
			<key>Key</key>
			<string>campus_selected</string>
			<key>DefaultValue</key>
			<string>saar</string>
			<key>Titles</key>
			<array>
				<string>Saarbrücken</string>
				<string>Homburg</string>
			</array>
			<key>Values</key>
			<array>
				<string>saar</string>
				<string>hom</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Kiosk Mode Interval</string>
			<key>Key</key>
			<string>interval_selected</string>
			<key>DefaultValue</key>
			<string>20</string>
			<key>Titles</key>
			<array>
				<string>10 sec</string>
				<string>20 sec</string>
				<string>30 sec</string>
				<string>60 sec</string>
			</array>
			<key>Values</key>
			<array>
				<string>10</string>
				<string>20</string>
				<string>30</string>
				<string>60</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Building</string>
			<key>Key</key>
			<string>building_selected</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>A1 1</string>
				<string>A1 2</string>
				<string>A1 3</string>
				<string>A1 4</string>
				<string>A1 5</string>
				<string>A1 7</string>
				<string>A2 2</string>
				<string>A2 3</string>
				<string>A2 4</string>
				<string>A3 1</string>
				<string>A3 2</string>
				<string>A3 3</string>
				<string>A4 1</string>
				<string>A4 2</string>
				<string>A4 3</string>
				<string>A4 4</string>
				<string>A5 1</string>
				<string>A5 2</string>
				<string>A5 3</string>
				<string>A5 4</string>
				<string>B1 1</string>
				<string>B1 2</string>
				<string>B2 1</string>
				<string>B2 2</string>
				<string>B3 1</string>
				<string>B3 2</string>
				<string>B3 3</string>
				<string>B4 1</string>
				<string>B4 2</string>
				<string>B4 3</string>
				<string>B4 4</string>
				<string>B5 1</string>
				<string>B5 2</string>
				<string>B6 1</string>
				<string>B6 2</string>
				<string>B6 3</string>
				<string>B6 4</string>
				<string>B6 5</string>
				<string>B6 6</string>
				<string>B6 7</string>
				<string>B6 8</string>
				<string>B7 1</string>
				<string>B7 2 </string>
				<string>B7 3</string>
				<string>B8 1</string>
				<string>B8 2</string>
				<string>B8 3</string>
				<string>C1 1</string>
				<string>C1 2</string>
				<string>C1 3</string>
				<string>C2 1</string>
				<string>C2 2</string>
				<string>C2 3</string>
				<string>C3 1</string>
				<string>C4 1</string>
				<string>C4 2</string>
				<string>C4 3</string>
				<string>C4 4</string>
				<string>C4 5</string>
				<string>C4 8</string>
				<string>C5 1</string>
				<string>C5 2</string>
				<string>C5 3</string>
				<string>C5 4</string>
				<string>C5 5</string>
				<string>C6 2</string>
				<string>C6 3</string>
				<string>C6 4</string>
				<string>C6 5</string>
				<string>C7 1</string>
				<string>C7 1</string>
				<string>C7 3</string>
				<string>C7 4</string>
				<string>C7 5</string>
				<string>C7 6</string>
				<string>C7 7</string>
				<string>C8 1</string>
				<string>C8 2</string>
				<string>C8 3</string>
				<string>C9 1</string>
				<string>D1 1</string>
				<string>D1 2</string>
				<string>D2 1</string>
				<string>D2 2</string>
				<string>D2 3</string>
				<string>D2 4</string>
				<string>D3 1</string>
				<string>D3 2</string>
				<string>D3 3</string>
				<string>D4 1</string>
				<string>D4 3</string>
				<string>D4 4</string>
				<string>D4 5</string>
				<string>D5 1</string>
				<string>E1 1</string>
				<string>E1 2</string>
				<string>E1 3</string>
				<string>E1 4</string>
				<string>E1 5</string>
				<string>E1 6</string>
				<string>E1 7</string>
				<string>E2 1</string>
				<string>E2 2</string>
				<string>E2 3</string>
				<string>E2 4</string>
				<string>E2 5</string>
				<string>E2 6</string>
				<string>E2 7</string>
				<string>E2 8</string>
				<string>E3 1</string>
				<string>E7 1</string>
				<string>E7 2</string>
				<string>E8 1</string>
				<string>E9 1</string>
			</array>
			<key>Values</key>
			<array>
				<string>none</string>
				<string>A1 1</string>
				<string>A1 2</string>
				<string>A1 3</string>
				<string>A1 4</string>
				<string>A1 5</string>
				<string>A1 7</string>
				<string>A2 2</string>
				<string>A2 3</string>
				<string>A2 4</string>
				<string>A3 1</string>
				<string>A3 2</string>
				<string>A3 3</string>
				<string>A4 1</string>
				<string>A4 2 </string>
				<string>A4 3</string>
				<string>A4 4</string>
				<string>A5 1</string>
				<string>A5 2</string>
				<string>A5 3</string>
				<string>A5 4</string>
				<string>B1 1</string>
				<string>B1 2</string>
				<string>B2 1</string>
				<string>B2 2</string>
				<string>B3 1</string>
				<string>B3 2</string>
				<string>B3 3</string>
				<string>B4 1</string>
				<string>B4 2</string>
				<string>B4 3</string>
				<string>B4 4</string>
				<string>B5 1</string>
				<string>B5 2</string>
				<string>B6 1</string>
				<string>B6 2</string>
				<string>B6 3</string>
				<string>B6 4</string>
				<string>B6 5</string>
				<string>B6 6</string>
				<string>B6 7</string>
				<string>B6 8</string>
				<string>B7 1</string>
				<string>B7 2</string>
				<string>B7 3</string>
				<string>B8 1</string>
				<string>B8 2</string>
				<string>B8 3</string>
				<string>C1 1</string>
				<string>C1 2</string>
				<string>C1 3</string>
				<string>C2 1</string>
				<string>C2 2</string>
				<string>C2 3</string>
				<string>C3 1</string>
				<string>C4 1</string>
				<string>C4 2</string>
				<string>C4 3</string>
				<string>C4 4</string>
				<string>C4 5</string>
				<string>C4 8</string>
				<string>C5 1</string>
				<string>C5 2</string>
				<string>C5 3</string>
				<string>C5 4</string>
				<string>C5 5</string>
				<string>C6 2</string>
				<string>C6 3</string>
				<string>C6 4</string>
				<string>C6 5</string>
				<string>C7 1</string>
				<string>C7 2</string>
				<string>C7 3</string>
				<string>C7 4</string>
				<string>C7 5</string>
				<string>C7 6</string>
				<string>C7 7</string>
				<string>C8 1</string>
				<string>C8 2</string>
				<string>C8 3</string>
				<string>C9 1</string>
				<string>D1 1</string>
				<string>D1 2</string>
				<string>D2 1</string>
				<string>D2 2</string>
				<string>D2 3</string>
				<string>D2 4</string>
				<string>D3 1</string>
				<string>D3 2</string>
				<string>D3 3</string>
				<string>D4 1</string>
				<string>D4 3</string>
				<string>D4 4</string>
				<string>D4 5</string>
				<string>D5 1</string>
				<string>E1 1</string>
				<string>E1 2</string>
				<string>E1 3</string>
				<string>E1 4</string>
				<string>E1 5</string>
				<string>E1 6</string>
				<string>E1 7</string>
				<string>E2 1</string>
				<string>E2 2</string>
				<string>E2 3 </string>
				<string>E2 4</string>
				<string>E2 5</string>
				<string>E2 6</string>
				<string>E2 7</string>
				<string>E2 8</string>
				<string>E3 1</string>
				<string>E7 1</string>
				<string>E7 2</string>
				<string>E8 1</string>
				<string>E9 1</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Info</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Info</string>
			<key>File</key>
			<string>app_info</string>
		</dict>
	</array>
</dict>
</plist>
